* {
  padding: 0;
  margin: 0;
}
.container {
  width: 1280px;
  margin: auto;
}
.box {
  display: flex;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.common-part h2 {
  font-size: 48px;
  color: #282938;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.common-part a {
  color: #2405f2;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  position: relative;
}
/* ================
navber part start
=================== */

nav {
  background-color: #1c1e53;
  padding: 16px 0px;
}
.logo {
  width: 20%;
  display: flex;
  align-items: center;
}
.navber-part {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navber-part ul {
  display: flex;

  column-gap: 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #bbbbcb;
}
.navber-part ul li {
  transition: 0.5s;
  cursor: pointer;
}
.navber-part ul li:hover {
  color: white;
}

.button {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.button a {
  display: inline-block;
  padding: 16px 48px;
  color: white;
  border-radius: 41px;
  transition: 0.5s;
  border: 2px solid #bbbbcb;
}
.button a:hover {
  background-color: #bbbbcb;
  color: #282938;
}

/* ================
navber part start
=================== */
/* ================
banner part start
=================== */
.banner-part {
  background-color: #1c1e53;
  padding: 128px;
}
.banner-part .left {
  width: 50%;
}
.banner-part .left h1 {
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 600;
  color: white;
  line-height: 74px;
}
.banner-part .left p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 28px;
  width: 562px;
  margin-top: 24px;
}
.banner-part .left .btn1 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #1b1c2b;
  background-color: #fcd980;
  padding: 16px 48px;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 41px;
  transition: 0.5s;
  font-weight: 600;
}
.banner-part .left a {
  margin-top: 48px;
  transition: 0.4s;
}
.banner-part .left a:hover {
  background: transparent;
  color: #fff;
  border-color: #f4f6fc;
}
.banner-part .left .btn2 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #fff;
  padding: 16px 48px;
  display: inline-block;
  transition: 0.5s;
  font-weight: 600;
  position: relative;
}
.banner-part .left .btn2 i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-35%);
}

.banner-part .right {
  width: 50%;
}
.banner-part .right img {
  width: 100%;
}
/* ================
banner part end
=================== */
/* ================
work part start
=================== */
.work-part {
  background-color: #f4f6fc;
  padding: 128px 0px;
}
.work-part .left {
  width: 40%;
}

.work-part .left p {
  font-size: 16px;
  color: #282938;
  line-height: 28px;
  font-weight: 400;
  width: 405px;
  font-family: "Poppins", sans-serif;
  margin: 16px 0px;
}

.work-part .left a i {
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translateY(-50%);
}

.work-part .right {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
.work-part .right .box1 {
  width: 50%;
}
.work-part .right .box1 h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: #282938;
  margin-top: 16px;
  margin-bottom: 8px;
}
.work-part .right .box1 p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #282938;
  width: 250px;
}
/* ================
work part end
=================== */
/* ================

project part start
=================== */
.project-part {
  margin-bottom: 128px;
}
.project-part .box {
  justify-content: space-between;
}
.title {
  margin: 128px 0px 64px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h4 {
  font-size: 48px;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #282938;
}
.title a {
  font-size: 16px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #282938;
}
.project-part .left {
  width: 64%;
  position: relative;
  overflow: hidden;
}
.project-part .left img {
  width: 100%;
  display: block;
}
.project-part .left .overflow {
  width: 52%;
  height: 100%;
  background: linear-gradient(rgba(28, 30, 83, 0.42), #1c1e53);
  position: absolute;
  top: 0;
  left: -52%;
  transition: 0.4s;
  padding: 0 48px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding-bottom: 76px;
}
.project-part .left:hover .overflow {
  left: 0;
}

.project-part .left .overflow h3 {
  width: 303px;
  font-size: 24px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
}
.project-part .left .overflow p {
  width: 293px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;
}
.project-part .left .overflow a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fcd980;
}
.project-part .right {
  width: 31%;
}
.project-part .right img {
  width: 100%;
  display: block;
}
.project-part .right .img:last-child {
  margin-top: 22px;
}
.project-part .right .img {
  position: relative;
  overflow: hidden;
}

.project-part .right .img .overflow {
  width: 100%;
  height: 100%;
  background: linear-gradient(#1c1e53, rgba(28, 30, 83, 0.42));
  position: absolute;
  top: -100%;
  left: 0%;
  transition: 0.4s;
  padding: 0 56px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding-bottom: 36px;
}
.project-part .right .img:hover .overflow {
  top: 0;
}
.project-part .right .img .overflow h4 {
  width: 280px;
  font-size: 24px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;

  margin-bottom: 10px;
}
.project-part .right .img .overflow a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fcd980;
}

/* ================
project part end
=================== */
/* ================
feature part start
=================== */
.feature {
  background-color: #f4f6fc;
  padding: 1px;
}
.feature .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.feature .title p {
  color: #282938;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.feature .title h4 {
  color: #282938;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  width: 630px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.feature .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 26px;
}
.feature .grid .divided {
  padding: 40px;
  box-sizing: border-box;
  width: 32%;
  box-shadow: 0px 0px 0px black;
  background-color: #fff;
}

.feature .grid .divided h5 {
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 500;
  color: #282938;
  font-family: "Poppins", sans-serif;
}
.feature .grid .divided p {
  font-size: 16px;
  font-weight: 400;
  color: #282938;
  font-family: "Poppins", sans-serif;
  width: 324px;
  line-height: 28px;
}
.feature .grid .divided img {
  margin-bottom: 22px;
}

/* ================
feature part end
=================== */
/* ================
about part start
=================== */

.about-part {
  background-color: #f4f6fc7d;
  padding: 128px 0;
}
.about-part .left {
  width: 30%;
}
.about-part .left h5 {
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  width: 327px;
  color: #1b1c2b;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}
.about-part .left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 327px;
  color: #1b1c2b;
  font-family: "Poppins", sans-serif;
}
.about-part .right {
  width: 66%;
}
.about-part .box {
  justify-content: space-between;
}
.about-part .right h5 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  width: 843px;
  color: #1b1c2b;
  font-family: "Poppins", sans-serif;
  margin-bottom: 48px;
}
.about-part .right .part {
  display: flex;
  column-gap: 14px;
}
.about-part .right .part img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.about-part .right .part .part1 h5 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #1b1c2b;
  margin: 0;
}
.about-part .right .part .part1 p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #1b1c2b;
}
.about-part .right .part img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
/* ================
about part end
=================== */
/* ================
faq part start
=================== */
.faqpart {
  margin: 128px;
}
.faqpart .common-part h2 {
  font-size: 38px;
  color: #282938;
  font-weight: 600;
  width: 328px;
  line-height: 56px;
  font-family: "Poppins", sans-serif;
}
.accordion-button span {
  color: #2405f2;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-right: 59px;
}
.accordion-button {
  color: #282938;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
}
.accordion-collapse {
  border-bottom: 2px solid #ececf1;
}
.accordion-body {
  padding-left: 105px;
  width: 693px;
  line-height: 32px;
  color: #282938;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 48px;
}
.accordion-item {
  border: 0;
}
.accordion-button::after {
  background-image: none !important;
  content: "+";
  transform: rotate(0);
  width: 16px;
  height: 16px;
  
}

.accordion-button:not(.collapsed)::after {
  content: "x";
  transform: rotate(0);
  width: 16px;
  height: 16px;
  
}
/* ================
faq part end
=================== */
/* ================
contact part start
=================== */
.contact-part {
}

.contact-part .left {
  position: relative;
  width: 50%;
}
.contact-part .left img {
  width: 100%;
}
.contact-part .left .overflow {
  background: linear-gradient(rgba(28, 30, 83, 0.42), #1c1e53);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 96px 96px;
  box-sizing: border-box;
}
.contact-part .left .overflow h6 {
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  width: 464px;
  color: #fff;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
}
.contact-part .left .overflow p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  width: 464px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.contact-part .right {
  width: 50%;
  background-color: #1c1e53;
}
.contact-part .right .item {
  padding: 96px;
}
.contact-part .right .item h6 {
  font-size: 32px;
  font-weight: 500;

  color: #fff;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}
.contact-part .right .item p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  width: 432px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}
.contact-part .right .item input {
  width: 100%;
  height: 100%;
  padding: 18px 32px;
  border: 1px solid #ffffff51;
  background: transparent;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
}
.contact-part .right .item button {
  padding: 16px 150px;
  background-color: #fcd980;
  border-radius: 41px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 39px;
  border: none;
}
.contact-part .right .item .ancor {
  text-align: center;
  margin-top: 28px;
}
.contact-part .right .item .ancor a {
  color: #fff;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* ================
contact part end
=================== */
/* ================
blog part start
=================== */
.blog {
  margin-bottom: 128px;
}
.blog .title h6 {
  font-size: 48px;
  color: #282938;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.blog .box {
  justify-content: space-between;
}
.blog .item {
  width: 32%;
}
.blog .item img {
  width: 100%;
  margin-bottom: 40px;
}
.blog .item span {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
  font-family: "Poppins", sans-serif;
}
.blog .item h6 {
  font-size: 24px;
  font-weight: 500;
  color: #282938;
  font-family: "Poppins", sans-serif;
  margin: 16px 0;
}
.blog .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 405px;
  color: #282938;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
}
.blog .item a {
  font-size: 14px;
  font-weight: 500;
  color: #282938;
  font-family: "Poppins", sans-serif;
}
/* ================
blog part end
=================== */
/* ================
fotter part start
=================== */
.fotter {
  background-color: #1c1e53;
  padding-top: 100px;
}
.fotter .box {
  justify-content: space-between;
}
.fotter .left {
  width: 50%;
}
.fotter .left img {
  margin-bottom: 22px;
}
.fotter .left p {
  margin-bottom: 86px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 405px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.fotter .left .main {
  width: 100%;
  display: flex;
  border: 1px solid black;
  background-color: #fcd980;
  padding: 18px 38px;
  box-sizing: border-box;
  border-block: 0;
}
.fotter .left .main .pain p {
  margin: 0;
  color: #282938;
}
.fotter .right {
  width: 40%;
}
.fotter .right h6 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 14px 0;
}
.fotter .right p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  width: 399px;
  margin-bottom: 18px;
  font-family: "Poppins", sans-serif;
}
.fotter .right ul {
  display: flex;
  column-gap: 26px;
  color: white;
}
.fotter2 {
}
.fotter2 .left {
  width: 65%;
  display: flex;
  align-items: center;
  padding: 32px 0px;
  box-sizing: border-box;
}
.fotter2 .left p {
  font-size: 16px;
  font-weight: 500;
  color: #282938;
  font-family: "Poppins", sans-serif;
}
.fotter2 .right {
  width: 38%;
  padding: 32px 0px;
  box-sizing: border-box;
}
.fotter2 .right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 32px;
  font-family: "Poppins", sans-serif;
}

/* ================
fotter part end
=================== */
